*{
  margin: auto auto;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #242424;
}

body{
  width: 1560px;
  background-color: #161616;
  border: solid 1px;
}

header nav{
  
  display: flex;
  background-color: #fff500;
}

header nav a{
  border: 1px solid;
  width:  324px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bolder;
}

h1, h2{
  font-family: 'Inria Sans', sans-serif;
}
header nav a{
  text-decoration: none;
  color: #000;
}

header img{
  border: 1px solid;
}


main{
  width: 1400px;
  background-color: #000;
  color: white;
}

main article p{
  padding: 20px;
}

article{
  padding: 40px 200px;
  display: flex;
  flex-direction: row-reverse;
}

main article a{
  text-decoration: none;
  color: white;
}

main article img:hover{
  border: #fff500 2px solid;
}
.articler{
  padding: 40px;
  display: flex;
  flex-direction: row;
  padding: 40px 200px;
}

.resumo{
  display: flex;
  flex-direction: column;
}

.resumo p{
  width: 800px;
  padding: 20px;
} 

footer {
  background-color: #fff500;
  border: solid 1px;
  display: flex;
  height: 250px;
}


footer nav {
  width: 700px; 
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
}

footer nav ul{
  width: 300px;
}

footer nav ul li {
  padding: 10px;
  list-style: none;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

footer nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.socials {
  width: 700px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.socials img{
  border-radius: 15%;
}

.footing {
  width: 50%;
  display: flex;
}

footer hr{
  height: 198px;
}

main hr{
  color: rgb(165, 165, 165);
}


footer hr{
  height: 248px;
}

small{
  background-color: #fff500;
}

ul hr{
  height: auto;
  margin-top: 5px;
}